@{
    ViewBag.Title = "四商检测大挑战";
}


    <div class="home-main">
        <div class="top center">
            <img src="/Images/t_title.png" />
        </div>
        <div class="center">
            <img class="center_img1" src="/Images/t_yuan1.png" style="animation: 0.5s linear 0s 1 normal none running center_img1;">
            <img class="center_img2" src="/Images/t_yuan2.png" style="display: block; animation: 0.5s linear 0s 1 normal none running center_img2;">
            <img class="center_img3" src="/Images/t_yuan3.png" style="display: block; animation: 0.5s linear 0s 1 normal none running center_img3;">
            <img class="center_img4" src="/Images/t_yuan4.png" style="display: block; animation: 0.5s linear 0s 1 normal none running center_img4;">
            <img class="center_img5" src="/Images/t_lun.png" style="animation: 5s linear 0s infinite normal none running center_img5;">
            <img class="center_img6" src="/Images/t_tv.png">
        </div>

        <div class="foot center"><a href="/home/questions">开始检测</a></div>

    </div>