
@{
    ViewBag.Title = "显示结果";
    Layout = null;
}

<div class="result">
    <div class="result-main">
        <div class="result-title center">某某某的测评报告</div>
        <div class="result-body">
            <div class="result-img"></div>
        </div>
    </div>
    
    <div class="result-foot center">
        <p>请长按图片保存后，分享到朋友圈</p>
        <p>共<label style="color:#ff0000">8000000</label>人保存并分享</p>
    </div>
</div>

