html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body{font-size: 62.5%;margin:0px; padding:0px;}
.center{text-align:center}
.middle{vertical-align:middle}
a{text-decoration: none;}

.shade{width:100%;height:100%;position:fixed;/*background:#000;*/filter:alpha(opacity=20);-moz-opacity:0.2;-khtml-opacity:0.5;opacity:0.5;z-index:9}
.st-roster{width:1000px;position:fixed;top:48%;left:48%;padding:0;z-index:9999;border-radius:5px; display:none;}


.home-main{width: 90vw;height: 93.5%;margin-top: 5vw;margin-left: 5vw;position: relative;}
.home-main .top img{width:50vw;}
.home-main .center{position: relative;margin: 0 auto;width: 66vw;height: 43vw;top: 0;left: 0;}

.home-main .center .center_img1{width: 8vw;position: absolute;left: 10vw;top: 4vw;}
.home-main .center .center_img2 {position: absolute;width: 10vw;left: 24vw;display: none;top: 0;}
.home-main .center .center_img3 {position: absolute;width: 10vw;left: 39vw;display: none;top: 0;}
.home-main .center .center_img4 {position: absolute;width: 8vw;right: 6vw;top: 10vw;display: none;}
.home-main .center .center_img5 {width: 11vw;left: 37vw;top: 14.5vw;position: absolute;}
.home-main .center .center_img6 {position: absolute;width: 85%;bottom: 0;left: 50%;transform: translate(-50%);}

.home-main .foot{margin-top:2em;}

.ques-main{width: 100vw;height:100vh;position: relative;background:#ffffff;}
.ques-main .question{font-size: 1em;width: 92vw;height: 94vh;padding: 6vh 4vw 0 4vw;}
.ques-main .question .ques-count{}
.ques-main .question .ques-content{margin-top:2em; font-size:50%;}
.ques-main .question .ques-option{margin-top:2em; font-size:50%;}
.ques-main .question .ques-option .option-content{border:solid 1px #ffd800; padding:0.3em; border-radius:0.3em; }

.ques-main  .result{background:#808080; padding:5vw; height:100vh}
.ques-main  .result .result-main{ background:#ffffff;font-size:1em; border-radius:0.4em; width:90vw;height:80vh}
.ques-main  .result .result-title{font-size:0.8em; color:#ffd800; height:10vh; line-height:10vh; vertical-align:middle;}
.ques-main  .result .result-body{ position:relative;}

.ques-main  .result .result-body .result-img{background:url("/Images/result_background.png"); width:90vw; height:70vh}
.ques-main  .result .result-body .erweima{background:url("/Images/erweima.png") no-repeat ; width:50px; height:50px; position:fixed; right:5px; bottom:5px; position:absolute; }
.ques-main  .result .result-body .erweima_tip{float:right;color: #fff; font-size: 0.5em;position:absolute; right:60px; bottom:22px;}
.ques-main  .result .result-foot{font-size:50%;}
.ques-main  .result .result-foot .share{color:#fff;}
.ques-main  .result .result-foot .total{color:#fff; background-color:#333;border-radius:0.3em;}